In [1]:
import pandas as pd
import pandas_datareader as web
import datetime

In [2]:
aapl = web.DataReader(name='AAPL', 
    data_source='yahoo', 
    start='2021-01-01',
    end=datetime.date.today()
)

TypeError: string indices must be integers

In [4]:
aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-12-31,134.740005,131.720001,134.080002,132.690002,99116600.0,131.877014
2021-01-04,133.610001,126.760002,133.520004,129.410004,143301900.0,128.617111
2021-01-05,131.740005,128.429993,128.889999,131.009995,97664900.0,130.207291
2021-01-06,131.050003,126.379997,127.720001,126.599998,155088000.0,125.824326
2021-01-07,131.630005,127.860001,128.360001,130.919998,109578200.0,130.117844
...,...,...,...,...,...,...
2022-01-10,172.500000,168.169998,169.080002,172.190002,106606900.0,172.190002
2022-01-11,175.179993,170.820007,172.320007,175.080002,76138300.0,175.080002
2022-01-12,177.179993,174.820007,176.119995,175.529999,74805200.0,175.529999
2022-01-13,176.619995,171.789993,175.779999,172.190002,84505800.0,172.190002
2022-01-14,173.779999,171.089996,171.339996,173.070007,80355000.0,173.070007

In [5]:
import pandas as pd
import yfinance as yf
import datetime

In [6]:
aapl2 = yf.download(tickers='AAPL', 
    start='2021-01-01', 
    end=datetime.date.today(),
    auto_adjust=True)

[*********************100%***********************]  1 of 1 completed

In [7]:
aapl2

                  Open        High         Low       Close     Volume
Date
2020-12-31  133.258497  133.914457  130.912956  131.877014   99116600
2021-01-04  132.701930  132.791375  125.983346  128.617111  143301900
2021-01-05  128.100300  130.932844  127.643112  130.207306   97664900
2021-01-06  126.937458  130.247057  125.605665  125.824318  155088000
2021-01-07  127.573546  130.823515  127.076610  130.117859  109578200
...                ...         ...         ...         ...        ...
2022-01-10  169.080002  172.500000  168.169998  172.190002  106606900
2022-01-11  172.320007  175.179993  170.820007  175.080002   76138300
2022-01-12  176.119995  177.179993  174.820007  175.529999   74805200
2022-01-13  175.779999  176.619995  171.789993  172.190002   84505800
2022-01-14  171.339996  173.779999  171.089996  173.070007   80355000

[263 rows x 5 columns]

In [12]:
import sys
from yahoo_finance_api2 import share
from yahoo_finance_api2.exceptions import YahooFinanceError
import pandas as pd

In [13]:
my_share = share.Share('AAPL')
symbol_data = None

In [23]:
try:
    symbol_data = my_share.get_historical(
        share.PERIOD_TYPE_DAY, 100,
        share.FREQUENCY_TYPE_DAY, 1
    )
    aapl3 = pd.DataFrame(symbol_data)
    aapl3["Date"] = pd.to_datetime(aapl3.timestamp, unit="ms")
except YahooFinanceError as e:
    print(e.message)
    sys.exit(1)

In [24]:
aapl3

,timestamp,open,high,low,close,volume,Date
0,1637159400000,151.000000,155.000000,150.990005,153.490005,88807000,2021-11-17 14:30:00
1,1637245800000,153.710007,158.669998,153.050003,157.869995,137827700,2021-11-18 14:30:00
2,1637332200000,157.649994,161.020004,156.529999,160.550003,117305600,2021-11-19 14:30:00
3,1637591400000,161.679993,165.699997,161.000000,161.020004,117467900,2021-11-22 14:30:00
4,1637677800000,161.119995,161.800003,159.059998,161.410004,96041900,2021-11-23 14:30:00
5,1637764200000,160.750000,162.139999,159.639999,161.940002,69463600,2021-11-24 14:30:00
6,1637937000000,159.570007,160.449997,156.360001,156.809998,76959800,2021-11-26 14:30:00
7,1638196200000,159.369995,161.190002,158.789993,160.240005,88748200,2021-11-29 14:30:00
8,1638282600000,159.990005,165.520004,159.919998,165.300003,174048100,2021-11-30 14:30:00
9,1638369000000,167.479996,170.300003,164.529999,164.770004,152052500,2021-12-01 14:30:00
10,1638455400000,158.740005,164.199997,157.800003,163.759995,136739200,2021-12-02 14:30:00
11,1638541800000,164.020004,164.960007,159.720001,161.839996,117938300,2021-12-03 14:30:00
12,1638801000000,164.289993,167.880005,164.279999,165.320007,107497000,2021-12-06 14:30:00
13,1638887400000,169.080002,171.580002,168.339996,171.179993,120405400,2021-12-07 14:30:00
14,1638973800000,172.130005,175.960007,170.699997,175.080002,116998900,2021-12-08 14:30:00
15,1639060200000,174.910004,176.750000,173.919998,174.559998,108923700,2021-12-09 14:30:00
16,1639146600000,175.210007,179.630005,174.690002,179.449997,115228100,2021-12-10 14:30:00
17,1639405800000,181.119995,182.130005,175.529999,175.740005,153237000,2021-12-13 14:30:00
18,1639492200000,175.250000,177.740005,172.210007,174.330002,139380400,2021-12-14 14:30:00
19,1639578600000,175.110001,179.500000,172.309998,179.300003,131063300,2021-12-15 14:30:00
20,1639665000000,179.279999,181.139999,170.750000,172.259995,150185800,2021-12-16 14:30:00
21,1639751400000,169.929993,173.470001,169.690002,171.139999,195432700,2021-12-17 14:30:00
22,1640010600000,168.279999,170.580002,167.460007,169.750000,107499100,2021-12-20 14:30:00
23,1640097000000,171.559998,173.199997,169.119995,172.990005,91185900,2021-12-21 14:30:00
24,1640183400000,173.039993,175.860001,172.149994,175.639999,92135300,2021-12-22 14:30:00
25,1640269800000,175.850006,176.850006,175.270004,176.279999,68356600,2021-12-23 14:30:00
26,1640615400000,177.089996,180.419998,177.070007,180.330002,74919600,2021-12-27 14:30:00
27,1640701800000,180.160004,181.330002,178.529999,179.289993,79144300,2021-12-28 14:30:00
28,1640788200000,179.330002,180.630005,178.139999,179.380005,62348900,2021-12-29 14:30:00
29,1640874600000,179.470001,180.570007,178.089996,178.199997,59773000,2021-12-30 14:30:00
30,1640961000000,178.089996,179.229996,177.259995,177.570007,64025500,2021-12-31 14:30:00
31,1641220200000,177.830002,182.880005,177.710007,182.009995,104487900,2022-01-03 14:30:00
32,1641306600000,182.630005,182.940002,179.119995,179.699997,99310400,2022-01-04 14:30:00
33,1641393000000,179.610001,180.169998,174.639999,174.919998,94537600,2022-01-05 14:30:00
34,1641479400000,172.699997,175.300003,171.639999,172.000000,96904000,2022-01-06 14:30:00
35,1641565800000,172.889999,174.139999,171.029999,172.169998,86580100,2022-01-07 14:30:00
36,1641825000000,169.080002,172.500000,168.169998,172.190002,106606900,2022-01-10 14:30:00
37,1641911400000,172.320007,175.179993,170.820007,175.080002,76138300,2022-01-11 14:30:00
38,1641997800000,176.119995,177.179993,174.820007,175.529999,74805200,2022-01-12 14:30:00
39,1642084200000,175.779999,176.619995,171.789993,172.190002,84505800,2022-01-13 14:30:00
40,1642170600000,171.339996,173.779999,171.089996,173.070007,80355000,2022-01-14 14:30:00