In [1]:
import pandas as pd
import pandas_datareader as web
import datetime

In [2]:
voo = web.DataReader(name='VOO', 
    data_source='yahoo', 
    start='2011-01-01',
    end=datetime.date.today()
)

In [3]:
voo

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2010-12-31,115.139999,114.680000,114.860001,115.139999,145750.0,93.374641
2011-01-03,116.660004,115.900002,115.940002,116.220001,119200.0,94.250458
2011-01-04,116.559998,115.500000,116.559998,116.120003,108350.0,94.169373
2011-01-05,116.800003,115.720001,115.860001,116.739998,717750.0,94.672157
2011-01-06,116.919998,116.220001,116.839996,116.540001,72450.0,94.509987
...,...,...,...,...,...,...
2022-01-10,428.190002,419.769989,425.380005,428.029999,10481500.0,428.029999
2022-01-11,431.950012,424.779999,427.679993,431.779999,7282400.0,431.779999
2022-01-12,435.040009,431.140015,433.559998,433.070007,8270300.0,433.070007
2022-01-13,434.720001,426.089996,434.089996,427.100006,7521300.0,427.100006
2022-01-14,427.579987,422.809998,423.950012,427.230011,9959200.0,427.230011

In [4]:
bnd = web.DataReader(name='BND', 
    data_source='yahoo', 
    start='2011-01-01',
    end=datetime.date.today()
)

In [5]:
bnd

                 High        Low       Open      Close     Volume  Adj Close
Date
2010-12-31  80.309998  80.000000  80.000000  80.269997   534500.0  59.627987
2011-01-03  80.230003  79.959999  80.029999  80.169998   936500.0  59.553699
2011-01-04  80.330002  80.080002  80.220001  80.180000  1784100.0  59.561172
2011-01-05  79.980003  79.680000  79.930000  79.830002   837300.0  59.301163
2011-01-06  79.959999  79.769997  79.900002  79.900002   591000.0  59.353138
...               ...        ...        ...        ...        ...        ...
2022-01-10  83.519997  83.309998  83.379997  83.489998  5912300.0  83.489998
2022-01-11  83.680000  83.410004  83.470001  83.660004  6755600.0  83.660004
2022-01-12  83.790001  83.620003  83.730003  83.629997  6672700.0  83.629997
2022-01-13  83.790001  83.570000  83.650002  83.769997  5746300.0  83.769997
2022-01-14  83.599998  83.300003  83.589996  83.309998  6843000.0  83.309998

[2780 rows x 6 columns]

In [6]:
vxus = web.DataReader(name='VXUS', 
    data_source='yahoo', 
    start='2011-01-01',
    end=datetime.date.today()
)

In [7]:
vxus

                 High        Low       Open      Close     Volume  Adj Close
Date
2011-01-28  53.830002  49.259998  50.070000  49.330002    40800.0  35.691990
2011-01-31  50.000000  49.630001  49.750000  49.880001    46200.0  36.089935
2011-02-01  50.950001  50.150002  50.619999  50.950001    26300.0  36.864128
2011-02-02  51.000000  50.540001  51.000000  50.689999    47700.0  36.676003
2011-02-03  50.990002  50.360001  50.990002  50.779999    51100.0  36.741119
...               ...        ...        ...        ...        ...        ...
2022-01-10  63.119999  62.549999  63.049999  63.049999  6568300.0  63.049999
2022-01-11  63.970001  63.119999  63.250000  63.950001  3647000.0  63.950001
2022-01-12  64.730003  64.360001  64.459999  64.699997  3778400.0  64.699997
2022-01-13  64.830002  64.070000  64.800003  64.139999  3859200.0  64.139999
2022-01-14  64.169998  63.660000  63.840000  64.080002  4237300.0  64.080002

[2761 rows x 6 columns]

In [8]:
bndx = web.DataReader(name='BNDX', 
    data_source='yahoo', 
    start='2011-01-01',
    end=datetime.date.today()
)

In [9]:
bndx

                 High        Low       Open      Close     Volume  Adj Close
Date
2013-06-04  50.599998  50.240002  50.599998  50.299999    44300.0  41.471668
2013-06-05  50.400002  50.299999  50.400002  50.360001    62500.0  41.521133
2013-06-06  50.349998  50.270000  50.340000  50.290001   106800.0  41.463402
2013-06-07  50.330002  50.189999  50.330002  50.189999    70800.0  41.380955
2013-06-10  50.259998  49.799999  50.259998  49.830002   128800.0  41.084141
...               ...        ...        ...        ...        ...        ...
2022-01-10  54.750000  54.650002  54.669998  54.730000  2873100.0  54.730000
2022-01-11  54.750000  54.660000  54.680000  54.750000  3155100.0  54.750000
2022-01-12  54.889999  54.799999  54.869999  54.820000  7903100.0  54.820000
2022-01-13  54.930000  54.840000  54.860001  54.910000  3768500.0  54.910000
2022-01-14  54.869999  54.740002  54.840000  54.770000  1806800.0  54.770000

[2172 rows x 6 columns]

In [10]:
prices = pd.DataFrame()

In [11]:
prices['VOO'] = voo['Adj Close']
prices['BND'] = bnd['Adj Close']
prices['VXUS'] = vxus['Adj Close']
prices['BNDX'] = bndx['Adj Close']
prices

                   VOO        BND       VXUS   BNDX
Date
2010-12-31   93.374641  59.627987        NaN    NaN
2011-01-03   94.250458  59.553699        NaN    NaN
2011-01-04   94.169373  59.561172        NaN    NaN
2011-01-05   94.672157  59.301163        NaN    NaN
2011-01-06   94.509987  59.353138        NaN    NaN
...                ...        ...        ...    ...
2022-01-10  428.029999  83.489998  63.049999  54.73
2022-01-11  431.779999  83.660004  63.950001  54.75
2022-01-12  433.070007  83.629997  64.699997  54.82
2022-01-13  427.100006  83.769997  64.139999  54.91
2022-01-14  427.230011  83.309998  64.080002  54.77

[2780 rows x 4 columns]

In [12]:
from pypfopt import expected_returns
from pypfopt import risk_models

In [13]:
mhr = expected_returns.mean_historical_return(prices, frequency=252)
mhr

VOO     0.147858
BND     0.030792
VXUS    0.054885
BNDX    0.032811
dtype: float64

In [14]:
ehr = expected_returns.ema_historical_return(prices, frequency=252, span=500)
ehr

VOO     0.247553
BND    -0.001997
VXUS    0.126046
BNDX   -0.001860
Name: 2022-01-14 00:00:00, dtype: float64

In [30]:
capmr = expected_returns.capm_return(prices, market_prices=None, returns_data=False, risk_free_rate=0.02, compounding=True, frequency=252, log_returns=False)
capmr

VOO     0.108530
BND     0.021580
VXUS    0.116731
BNDX    0.023176
Name: mkt, dtype: float64

In [23]:
import math

rfree_y = 0.005
rfree_d = math.e ** (math.log(1 + rfree_y) / 252)

In [27]:
rfree_d-1

1.9792027252663047e-05